.contact-img {
    display: none;
}

.contact-form .subtitulo {
    text-align: initial;
}

.contact-text {
    color: #464646;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
}

.contact-form-form {
    display: flex;
    flex-direction: column;
    *padding-top: 1rem;
}

.contact-form-form-label {
    color: #413B3B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 1rem;
}

.contact-form-form-input-padron {
    color: #413B3B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 25px; 
}
