.contenidoPrincipal-image {
    width: 6.2rem;
}

.contenidoPrincipal-presentacion-titulo {
    color: #464646;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 10px;
}

.contenidoPrincipal-presentacion-descripcion {
    color: #464646;
    font-family: "Raleway";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    *padding-bottom: 15px;
}


.contenidoPrincipal__contacto {
    color: #464646;
    font-size: 16px;
    line-height: 20px;
    margin: .5rem 0;
}

.contenidoPrincipal__contacto-telefono {
    color: #464646;
    line-height: normal;
    text-decoration: none;
}

.contenidoPrincipal__contacto-email {
    color: #464646;
    text-decoration: underline;
    *display: block;
}


.contenidoPrincipal-presentacion-redes {
    display: flex;
    justify-content: space-between;
}

.contenidoPrincipal-presentacion-redes-link a {
    color: #464646;
    font-family: "Raleway";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}
