.projects-project {
    padding: 20px 0;
}

.projects-project-img {
    width: 100%;
}

.projects-projects-list-titulo {
    color: #464646;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}
