body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}


/*CSS header */

.header {
	padding: 20px 0;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.header .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
	margin-bottom: 20px;
}

.header-titulo a {
	color: inherit;
	text-decoration: none;
}

.header-nav-link {
	color: #464646;
	display: block;
    margin: 10px;  /* */
	margin-bottom: 10px;
    padding-bottom: 5px;
	text-decoration: none;
	transition: .5s;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.header-nav {
    display: flex;
}

.header-nav-link:hover {
    box-shadow: inset 0 -2px 0 0 #464646;
}


/*CSS main */

.contenidoPrincipal .container {
    align-items: center;
	display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.contenidoPrincipal-image {
    margin: 0 20px 20px 0;
    width: 19rem;
}

.contenidoPrincipal-presentacion-titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: bold;
    line-height: 49px;
}

.contenidoPrincipal-presentacion-descripcion {
    color: #464646;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    padding-top: 20px;
}

.contenidoPrincipal-presentacion-redes {
    display: flex;
}

.contenidoPrincipal-presentacion-redes-link {
    margin: 2% 5% 0 0;
}

.contenidoPrincipal-presentacion-redes-link a {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
}


/*CSS main > aboutMe */

.aboutMe,
.training,
.contact {
    background-color: #EAF2FD;
}

.aboutMe .container {
    align-items: initial;
    flex-direction: column;
    padding: 52px 0 52px 0;
}

.aboutMe-titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 1.2rem;
}

.aboutMe-descripcion {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    padding-top: 10px;
}

.aboutMe-firma {
    font-family: Pacifico, cursive;
    font-size: 1rem;
    margin: 1.5rem 1rem;
}


/*CSS main > skills */

.skills .container {
    flex-direction: column;
    align-items: initial;
	text-align: center;
}

.subtitulo {
    color: #464646;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 38px;
    margin-top: 100px;
}

.skills-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-skills-list {
    align-items: initial;
    padding: 20px 0 15px 0;
    text-align: left;
}

.skills-skills-list {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    margin: 0 1.485%;
    padding: 10px 20px;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.skills-skills-list-nombre {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
}


/*CSS main > hobbies */

.hobbies .container {
    flex-direction: column;
    align-items: initial;
	text-align: center;
}

.hobbies-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies-hobbies-list {
    align-items: initial;
    padding: 20px 0 15px 0;
    text-align: left;
}

.hobbies-hobbies-list {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    margin: 0 1.485%;
    padding: 10px 20px;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.hobbies-hobbies-list-img {
    width: 50px;
}

.hobbies-hobbies-list-nombre {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
}


/*CSS main > training */

.training {
    background-color: #EAF2FD;
}

.training .container {
    flex-direction: column;
}

.training-training {
    display: flex;
}

.training-training-list {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1.485%;
    margin-bottom: 20px;
    padding: 10px 20px;
    padding-top: 30px;
    text-align: center;
    vertical-align: top;
    width: 33%;
}

.training-training-list-titulo,
.text-description {
    text-align: left;
}

.training-training-list-titulo {
    color: #464646;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    height: 17.5%;
}

.training-training-list-img {
    width: 150px;
    padding-bottom: 10px;
}


/*CSS main > projects */
.projects .container {
    flex-direction: column;
}

.projects-project {
    align-items: center;
    display: flex;
}

.projects-project {
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.hangman {
    flex-direction: row-reverse;
}

.projects-project-img {
    width: 60%;
}

.projects-projects-list-titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
}

.projects-projects-list-repository-btn {
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 25px;
    text-decoration: none;
}

.projects-projects-list-see-demo-btn {
    background-color: #2A7AE4;
    color: #FFFFFF;
    padding: 15px 25px;
    text-decoration: none;
}


/*CSS main > contact form */

.contact .container {
    flex-direction: initial;
    margin-top: 20px;
}

.contact-form {
    margin-left: 1rem;
}

.contact-form-form {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 0 10px;
}

.subtitulo {
    margin-top: auto;
}

.contact-text {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.contact-form-form-label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #413B3B;
    margin-bottom: 5px;
}

.contact-form-form-input-padron {
    display: block;
    margin: 0 0 25px;
    padding: 15px 25px; 
}

.contact-form-form-btn-enviar {
    background-color: #2A7AE4;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px 0;
    transition: 1s all;
    width: 144px;
}

.contact-form-form-btn-enviar:hover {
    background-color: #2A7AE4;;
    transform: scale(1.1);  
}


/*CSS footer*/

footer {
    color: #464646;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding: 20px;
    text-align: center;
}



/*CSS responsive mobile */

@media screen and (max-width: 768px) {
    .header-titulo {
        color: #464646;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
    }

    .header-nav-link {
        display: none;
    }

    .header-nav-link {
        display: none;
    }

    .header-nav-link-contact {
        display: initial;
    }

    .contenidoPrincipal .container {
        align-items: initial;
        flex-direction: column;
    }

    .contenidoPrincipal-image {
        width: 98px;
    }

    .contenidoPrincipal-presentacion-titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .contenidoPrincipal-presentacion-descripcion,
    .contenidoPrincipal-presentacion-redes-link a {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 15px;
    }

    .contenidoPrincipal-presentacion-redes-link a {
        font-weight: 600;
    }

    /*... */

    .aboutMe-titulo {
        font-size: 22px;
    }

    .aboutMe-descripcion {
        font-size: 14px;
    }


    .skills-skills-list,
    .hobbies-hobbies-list {
        width: 30%;
    }


    .training-training-list-img {
        width: 100px;
    }




    .subtitulo {
        margin-top: 40px;
        font-size: 22px;
        text-align: center;
    }

    
    .training-training-list-titulo {
        height: 25%;
    }

    .text-descripcion,
    .text-description {
        color: #464646;
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }


    .projects-project {
        flex-direction: column;
        align-items: initial;
    }

    .projects-project-img {
        margin-top: 20px;
        width: 100%;
    }

    .projects-projects-list-titulo {
        font-size: 16px;
        margin: auto;
    }

    
    .contact-img {
        display: none;
    }

}


@media screen and (max-width: 360px) {
    .skills-skills-list,
    .hobbies-hobbies-list {
        width: 45%;
    }

    .training-training {
        flex-direction: column;
    }

    .training-training-list {
        width: initial;
    }
}
